/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */

a {
    text-decoration: none;
    color: white;   
    }

.small{
    font-size: 12px;
    padding: 5px 12px;
    border-radius: 40px;
    color: black;
   background-color: white;
   border-bottom-style: none;
}

.big{
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 40px;
    color: black;
  
   border-bottom-style: none;
   outline: none;

}
.big.sinistro{
    color: black;
    background-color: white;
}

.big.destro{
    color: white;
    background-color: black;

}

/* Header */
    header{
        background-image: url(../img/jumbo.png);
        background-size: cover ;
    }

.top-header {
    width: auto;
    display: flex;
    align-items: center;
    /* TEST */
    height: 50px;
}

  .header-menu{
      color: white;
      width: 80%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-around;

       
  }
  
            .logo{
                display: flex;
                
                text-align: middle;
               
            }
               
               .logo img{
                  height: 30px;
                   padding: ;
               }

            .link-container{
                display: flex;
                justify-content: center;
                width: 60%;
                text-align: center;
                padding: 0 5px;

            }

                .link{
                    color: white;
                    font-size: 12px;
                    display: flex;
                    justify-content: space-between;
                    width: 60%;
                    text-align: center;
                    padding: 0 5px;

                }

            .login{
                text-align: center;
            }

            .jumbo-section{
                /* TEST */
                height: 250px;
                display: flex;
                align-items: center;
            }

    section{
        
        /* TEST */
        height: 300px;
        display: flex;
        align-items: center;
    }
       

         .section-container.jumbo{
            
           
            width: 40%;
            margin: auto;
            display: block;
            text-align: center;
            }

            .section-container{
            
            width: 40%;
            margin: auto;
            display: flex;
                }     
            
            .jumbotron{
                width: 60%;
                align-items: center;
                /* TEST */
                height: 200px;

            }
            
             h1{
                 color: white;
               margin-bottom: 20px;
            }

            .section-container.jumbo p{
                color: white;
                margin-bottom: 20px;
            }

            .btn{

            }


            .colonna.azzurra{
                width: 60%;
                background-color: #1e90ff;
                /* TEST  */
                height: 250px;
                border: 1px dotted black;
            }

            .colonna.rosa{
                width: 40%;
                background-color: #ffc0cb;
                /* TEST  */
                height: 250px;
                border: 1px dotted black;
            }

            .colonna.fucsia{
                width: calc(100% /3);
                background-color: #f08080;
                /* TEST  */
                height: 270px;
                border: 1px dotted black;
            }

            .colonna.verde{
                width: calc(100% /6);
                background-color: #20b2aa;
                /* TEST  */
                height: 270px;
                border: 1px dotted black;
            }

            .section-container.due{
                border: 1px dotted black;
                width: 40%;
                margin: auto;
                display: flex;
                flex-direction: row-reverse;
                ;
                    }            

                    section.due{
                        background-color: #d3d3d3;
                    }

                    section.tabella{
                        background-color: #23272a;
                    }

        .rettangolo-grande{
            background-color: #d3d3d3;
            /* TEST */
            height: 400px;
            display: flex;
            align-items: center;
        }
            
        .section-container.rettangolo{
            background-color: #228b22;
            border: 1px dotted red;
            width: 40%;
            margin: auto;
            display: flex;
            }

            .grande{
                width: 60%;
                align-items: center;
                /* TEST */
                height: 350px;

            }

     /* FOOTER  */

     footer {
        background-color: #23272a;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        display: flex;
        align-content: flex-end;
        /* TEST */
        height: 40px;
    }

     .footer-menu{
        color: white;
        background-color: #7fffd4;
        width: 40%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        /* TEST  */
         height: 30px;
    }
    
    .logo-footer{
        color: black;
        border: 1px dotted black;
        text-align: center;
        margin: 5px 0;
        padding: 0px 3px;
    }

    .bottone{
        color: black;
        border: 1px dotted black;
        text-align: center;
        margin: 5px 0;
        padding: 0px 3px;
    }